<div class="user-content">
  #if($isComment) <blockquote> #end
  $contentHtml #if($truncated)<a href="$contentUri" class='content-more'>$i18n.getText("streams.activity.summary.read.more")</a>#end
  #if($isComment) </blockquote> #end
</div>
