<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
      "http://www.w3.org/TR/html4/loose.dtd">
<!-- You can run the QUnit tests by starting the Aggregator plugin and going to
     http://localhost:3990/streams/plugins/servlet/jstests/all-tests (see atlassian-plugin.xml) -->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>jAtom QUnit Test</title>
        <meta name="decorator" content="atl.general">
        $webResourceManager.requireResource("com.atlassian.streams.streams-js-tests-plugin:jatom-test")
    </head>
    <body>
        <h1 id="qunit-header">jAtom QUnit Test Results</h1>
        <h2 id="qunit-banner"></h2>
        <h2 id="qunit-userAgent"></h2>
        <ol id="qunit-tests"></ol>
        <fieldset class="parameters hidden">
            <input type="hidden" value="$applicationProperties.getBaseUrl()" name="baseUrl" id="baseUrl">
        </fieldset>
    </body>
</html>
