/*******************************************************************/
/*  GENERAL                                                        */
/*******************************************************************/

.clearer {
    clear: both;
    display: block;
    font-size: 1px;
    height: 1px;
    line-height: 1px;
    margin-bottom: -1px;
}

.hidden {
    display: none;
}

fieldset {
    border: none;
}

a {
    color: #326ca6;
}

.activity-stream-container button {
    -webkit-appearance: push-button;
}

/*******************************************************************/
/*  CONTAINER                                                      */
/*******************************************************************/

.activity-stream-container {
    padding: 0.5em 1em 0.5em 1em;
}

.no-title .activity-stream-container {
    padding: 0;
}

.activity-stream-header {
    padding: 0.5em 0 0.5em 0;
}

.activity-stream-sparse-header {
    margin-bottom: 0.5em;
    position: relative;
    right: 0;
    top: 0;
}

.throbber-placeholder {
    display: none;
}

.loading .activity-stream-sparse-header .throbber-placeholder {
    background: url(images/throbber.gif) no-repeat left center;
    display: block;
    float: right;
    height: 20px;
    margin-right: 0.3em;
    width: 20px;
}

.has-footer-options .activity-stream-header {
    margin-right: 33px;
}

.has-footer-options .activity-stream-sparse-header {
    margin-right: 38px;
}

.activity-stream-header #activity-stream-feed, .activity-stream-sparse-header #activity-stream-feed {
    background: transparent url(images/feed-icon.png) no-repeat scroll 0 0;
    display: inline;
    float: right;
    height: 16px;
    margin-top: 0.4em;
    text-decoration: none;
    width: 16px;
}

.activity-stream-container h2 {
    color: #036;
    display: inline;
    font-size: 1.5em;
    font-weight: normal;
    margin: 0;
}

.activity-stream-container .activity-stream-title-container {
    display: inline;
    float: left;
    padding-right: 1.8em;
}

.activity-stream-container.loading .activity-stream-title-container {
    background: url(images/throbber.gif) no-repeat center right;
}

.activity-stream-container h2 .streamFilterName {
    font-weight: bold;
}

.activity-stream-container #activity-stream {
    list-style-type: none;
    margin: 0 0 1em 0;
    padding: 0;
}

#activity-stream-show-more {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    display: block;
    margin: 0 0.2em 0 0.2em;
    overflow: hidden;
    padding: 0.35em;
    text-align: center;
}

#activity-stream-show-more.hidden {
    display: none;
}

#activity-stream-show-more span {
    color: #666666;
}

#activity-stream-show-more:hover {
    background: #f9f9f9;
    text-decoration: none;
}

#activity-stream-show-more.loading {
    background: url("images/throbber.gif") no-repeat center center;
}
#activity-stream-show-more.loading span {
    visibility: hidden;
}

/*******************************************************************/
/*  ACTIVITY ITEM                                                  */
/*******************************************************************/

.activity-item {
    background-position: 0.6em 0.6em;
    background-repeat: no-repeat;
    border-top: 1px solid #eaeaea;
    color: #404040;
    line-height: 125%;
    min-height: 16px;
    padding: 0 5px 0.8em 65px;
    vertical-align: top;
}

.activity-item-grouped {
    border-top: none;
    margin-top: -1px;
}

.activity-item .user-icon {
    display: inline;
    float: left;
    height: 48px;
    margin-left: -60px;
    margin-top: 0.9em;
    vertical-align: top;
    width: 48px;
}

.activity-item-grouped .user-icon {
    display: none;
}

.activity-item-author, .stream-user {
    display: inline;
    font-weight: bold;
}

.activity-item-descriptions {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.activity-item-detail {
    overflow: auto;
    padding: 0.25em 0.5em 0 0;
}

.activity-item-info {
    color: #777;
    font-size: 0.9em;
    margin-top: 0.5em;
}

.activity-item-info img.icon {
    margin: -3px 10px 0 0;
    vertical-align: middle;
}

.activity-item-info a.timestamp, .activity-item-info a.timestamp:visited {
    color: #777;
    text-decoration: none;
}

.activity-item-info a.timestamp:hover {
    text-decoration: underline;
}

.activity-item-detail p {
    margin-bottom: 0;
}

.activity-item-description-author {
    display: inline;
}

.activity-stream-container .user-status-action {
    display: none;
}

.activity-item-summary {
    color: #555;
    line-height: 145%;
    padding-top: 0.8em;
    word-wrap: break-word;
}

.activity-item-grouped .activity-item-summary {
    border-top: 1px solid #eee;
}

.activity-item-description {
    color: #666;
    margin-top: 0.4em;
    overflow-x: auto;
    overflow-y: hidden;
}

.activity-item-description .user-content {
    color: #222;
}

.activity-item-description pre {
    color: #222;
}

.activity-item-description pre * {
    font-family: monospace;
}

.activity-item-description blockquote {
    background: #e0f0ff;
    border-left: 1px solid #c2d9ef;
    color: #222;
    font-style: normal;
    margin: 0 0 0.7em 0.2em;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0.3em 0.7em 0.3em 0.7em;
}

.activity-item-description blockquote p {
    margin: 1em 0 0 0;
}

.activity-item-description blockquote p:first-child {
    margin-top: 0;
}

.activity-item-description blockquote blockquote {
    border-width: 2px;
    color: #34444d;
    margin-left: 0.3em;
    margin-top: 0.6em;
    padding: 0.4em 0.8em 0.4em 0.8em;
}

.activity-item-description a.comment-more, .activity-item-description a.content-more {
    background: url(images/arrow-right.png) center right no-repeat;
    font-size: 90%;
    padding-right: 9px;
}

.activity-item-description div.panel {
    margin-top: 1em;
}

.user-content ul {
    list-style-type: disc;
    margin: 0 0 0 2em;
}

.activity-item-description ul.activity-list li {
    background: transparent url(images/bullet.png) 0.7em 0.6em no-repeat;
    list-style: none;
    padding-left: 1.7em;
}

.activity-item-description ul.activity-list {
    margin: 0 0 0.3em 0;
}

.activity-item-detail a:link, .activity-item-detail a:visited {
    color: #80A0C0;
}

.activity-stream-container ul.thumbnails {
    padding: 0.25em 0.5em 0.5em 0;
}

.activity-stream-container ul.thumbnails li {
    background: none;
    display: inline;
    float: left;
    list-style: none;
    margin-bottom: 0.5em;
    padding: 0;
}

.activity-stream-container .thumbnails a {
    display: table-cell;
    height: 105px;
    vertical-align: middle;
}

.activity-stream-container .thumbnails img {
    border: 1px solid #ccc;
    margin: 0 10px 0 0;
    padding: 0;
}

#jira-profile {
    border: 1px solid #ccc;
}

/* Actions */

.activity-item-actions {
    display: inline;
    margin-left: 0.5em;
    padding-left: 12px;
}

.activity-item-actions.loading {
    background: url(images/throbber_small.gif) no-repeat left center;
}

.activity-item-actions a, .activity-item-actions a:link, .activity-item-actions a:visited  {
    color: #369;
}

.activity-item-actions .activity-item-action {
    margin-left: 1.2em;
}

.activity-item-actions .activity-item-action:first-child {
    margin-left: 0.3em;
}

.activity-item-action-status-container div.aui-message {
    margin: 1em 1em 0 0;
}

/* Date Headers*/

.date-header {
    border-top: 1px solid #eaeaea;
    color: #a0a0a0;
    padding: 0.2em 0.1em 0.2em 0.1em;
}

/* No Activity */

.no-activity {
    border-bottom: none;
    color: #666;
    font-size: 108%;
    padding: 0.8em 0.4em 0.8em 0.4em;
}

/*******************************************************************/
/*  PRODUCT SPECIFIC ACTIVITY ITEM                                 */
/*******************************************************************/

/* JIRA */

.activity-item-summary a.issue-link {
    font-weight: normal;
}

.activity-item-summary div.jira-linking-text {
    padding-left: 1em;
}

.activity-item-summary span.resolved-link {
    text-decoration: line-through;
}

/* Fisheye */

.activity-item-description span.changeset-lines {
    color: #777;
    padding-right: 0.8em;
}

.activity-item-description span.lines-added {
    color: #008000;
}

.activity-item-description span.lines-removed {
    color: #c00;
}

ul.commit-list {
    margin-left: 0.2em;
}

/* we're styling commit list items as table rows so that lines changed and filed names line up properly (as table cells) */
ul.commit-list.modified li {
    background: none;
    display: table-row;
    padding-left: 0;
}

ul.commit-list.modified  span.changeset-lines {
    display: table-cell;
    white-space: nowrap;
}

ul.commit-list.modified  span.changeset-file {
    display: table-cell;
    word-break: break-all;
    word-wrap: break-word;
}

ul.commit-list.modified li.more {
    display: block;
    margin-top: 0.5em;
}

/* Crucible */

ul.review-details {
    margin-top: 0.4em;
}

/*******************************************************************/
/*  ERRORS/WARNINGS                                                */
/*******************************************************************/

.activity-stream-container .activity-stream-error {
    background-color: #faa;
}

.activity-stream-container .activity-stream-warning {
    background-color: #ff8;
}

.activity-stream-container .activity-stream-validation-error {
    color: #c00;
    margin-top: 0.1em;
}

.activity-stream-container .config-row .activity-stream-validation-error {
    margin-left: 0.2em;
}

.activity-stream-container .stream-error .inner,.activity-stream-container .stream-warning .inner {
    padding: 0.5em;
}

.activity-stream-container .stream-error .stack-trace {
    display: none;
}

.activity-stream-container .activity-item {
    position: relative;
}

/*******************************************************************/
/*  VIEW ICONS                                                     */
/*******************************************************************/

.activity-stream-views {
    display: inline;
    float: right;
    margin-top: 0.4em;
}

.activity-stream-view {
    background: no-repeat 0 0;
    cursor: pointer;
    display: inline;
    float: left;
    height: 16px;
    margin-right: 0.3em;
    width: 16px;
}

.activity-stream-views .full-view-icon {
    background-image: url(images/full-view-icon.png);
}

.activity-stream-views .list-view-icon {
    background-image: url(images/list-view-icon.png);
}

.activity-stream-views .filter-view-icon {
    background-image: url(images/filter-view-icon.png);
}

.activity-stream-views .hover {
    background-position: 0 -16px;
}

.full-view .full-view-icon {
    background-position: 0 -32px;
}

.list-view .list-view-icon {
    background-position: 0 -32px;
}

/*******************************************************************/
/*  LIST VIEW                                                      */
/*******************************************************************/

.list-view .user-icon {
    height: 20px;
    margin-left: -32px;
    margin-top: 0.3em;
    width: 20px;
}

.list-view .user-icon img {
    height: 20px;
    width: 20px;
}

.list-view #activity-stream .activity-item {
    padding: 0 0 0.3em 32px;
}

.list-view #activity-stream .activity-item-grouped {
    padding-bottom: 0.4em;
}

.list-view #activity-stream .activity-item-summary {
    padding: 0.4em 30px 0 0;
}

.list-view .activity-item-grouped .activity-item-summary {
    border-top: none;
}

.list-view .activity-item-info {
    position: absolute;
    right: 0;
    top: 0;
}

.list-view .activity-item-info * {
    display: none;
}

.list-view .activity-item-info img.icon {
    display: inline;
    margin-top: 0;
}

.list-view .activity-item-comment-form {
    display: none;
}

.list-view .activity-item-summary .modifier {
    display: none;
}

.list-view .activity-item-detail, .list-view .activity-item-description {
    display: none;
}

.list-view .date-header {
    display: none;
}

.list-view #activity-stream .no-activity {
    padding: 0.8em 0.4em;
}

/*******************************************************************/
/*  FILTER VIEW                                                    */
/*******************************************************************/

.filter-view .full-view-icon, .filter-view .list-view-icon {
    background-position: 0 0;
}

.filter-view .filter-view-icon {
    background-position: 0 -32px;
}

#stream-title-edit {
    color: #036;
    display: none;
    font-size: 1.25em;
}

.is-configurable.filter-view  #stream-title-edit {
    display: inline;
}

.filter-view .activity-stream-header {
    border-bottom: none;
}

.is-configurable.filter-view  #stream-title {
    display: none;
}

#filter-options {
    display: none;
    padding: 0;
}

.filter-view #filter-options {
    display: block;
}

.blanket-container {
    position: relative;
}

.filter-view .blanket-container {
    background: url(images/shadow.png) top left repeat-x;
    margin: 0 -1em;
    padding: 0 1em 1em 1em;
}

.blanket-container .aui-blanket {
    display: none;
}

.filter-view .blanket-container .aui-blanket {
    display: block;
    left: -15px;
    padding: 0 15px 1.5em 15px;
    position: absolute;
}

.has-footer-options .filter-view .blanket-container .aui-blanket {
    z-index: 5500; /* footer has z-index of 5000, and the blanket has to sit on top of that */
}

/* display the "footer" at the top instead of the bottom */
.has-footer-options .footer {
    bottom: auto;
    left: auto;
    position: absolute;
    right: 8px;
    top: 15px;
    width: auto;
}

.no-title .footer {
    right: 0;
    top: 3px;
}

/* override the gadgets override */
.gadget .aui-dd-parent .aui-dropdown {
    bottom: auto;
    top: 18px!important;
}

.footer .aui-dd-parent .aui-shadow {
    display: none;
}

body.has-footer-options {
    padding-bottom: 0;
}

/*******************************************************************/
/*  CONFIG FORM                                                    */
/*******************************************************************/

#config-form {
    margin-top: 0.7em;
}

form.aui select.rule, form.aui select.operator {
    display: block;
    float: left;
    margin-right: 0.8em;
    min-width: 0; /* required to override jira base style of 150px min-width on all selects (STRM-855) */
    position: relative;
    top: 2px;
    width: 25%;
}

.radio-group input.radio {
    clear: left;
    display: inline;
    float: left;
}

.radio-group label {
    display: inline;
    float: left;
}

form.aui.top-label fieldset {
    margin: 0 0 1em 0.4em;
}

form.aui legend {
    border-bottom: 1px solid #ccc;
    display: block;
    float: left;
    font-size: 110%;
    font-weight: bold;
    margin: 0 0 0.5em -0.3em;
    padding-bottom: 0.1em;
    width: 100%;
}

form.aui fieldset.submit {
    margin-top: -1em;
}

.smart-config {
    background: #f6f6f6;
    border: 1px solid #ccc;
    margin-top: 0.5em;
    padding: 0.5em;
}

/* Styles specific to Chosen select/option jQuery plugin */
.smart-config .chzn-container {
    background: #fff;
    display: block;
    float: left;
    position: relative;
    width: 32%;
}

.add-remove-buttons {
    display: inline;
    float: right;
}

form .add-remove-buttons button {
    background: transparent 0 0 no-repeat;
    border: none;
    cursor: pointer;
    display: block;
    float: left;
    height: 19px;
    margin: 0.3em 0.5em 0 0;
    width: 19px;
}

form .add-remove-buttons button:hover {
    background-position: 0 -19px;
}

form .add-remove-buttons button.disabled {
    background-position: 0 -38px;
    cursor: auto;
}

.add-remove-buttons button span {
    display: none;
}

.add-remove-buttons button.add {
    background-image: url(images/add.png);
}

.add-remove-buttons button.remove {
    background-image: url(images/remove.png);
    margin-right: 0.2em;
}

.config-row {
    margin: 0.4em 0 0.4em 0;
    position: relative;
}

.config-row input.text {
    border: 1px solid #999;
    padding: 4px 5px;
}

form.aui .multi-select {
    min-width: 0;
    vertical-align: top;
}

form.aui .user-input {
    display: inline;
    float: left;
    width: 32%;
}

form.aui .date-range {
    width: 13%;
}

fieldset.submit {
    display: none;
}

fieldset.submit {
    display: block;
}

form.aui fieldset.other-prefs {
    margin-top: 0.5em;
}

.refresh-container select.refresh {
    visibility: hidden;
}

.do-refresh select.refresh {
    visibility: visible;
}

form.aui input.numofentries {
    width: 2.2em;
}

#customize-activity label {
    margin-top: 5px;
}

form.aui .radio-group .field-group {
    margin-bottom: 0;
    padding-bottom: 0;
}

form.aui .field-group label {
    padding-top: 0;
}

#refresh-select {
    margin-left: 0.3em;
}

#customize-activity .field-group {
    margin-bottom: 0;
    padding-bottom: 0;
}

#cannot-save {
    background-position: 5px 5px;
    font-size: 95%;
    margin-bottom: 2em;
    padding: 5px 5px 5px 25px;
}

.date-range-joiner {
    display: inline;
    float: left;
    margin: 0.4em 0.5em 0 0.2em;
}

/* Override default that hides content during loading */
body.loading .gadget, body.config-active.loading .gadget, body.loading #config, body.config-active.loading #config {
    left: 0;
    position: relative;
    width: auto;
}

body.loading {
    background: none;
    height: auto;
}

/* Use default gadget loading graphic _only_ during initial load (not on every resize, etc) */
body.initializing .gadget, body.config-active.initializing .gadget, body.initializing #config, body.config-active.initializing #config {
    left: -9999px;
    position: absolute;
    width: 100%;
}

body.initializing {
    background: url("images/gadget-loading.gif") center no-repeat;
    height: 100%;
}

.stream-provider {
    margin-bottom: 0.3em;
}

.stream-provider .smart-config {
    margin-bottom: 0.8em;
    padding-left: 0.5em;
}

.stream-provider-header label {
    font-size: 105%;
}

.stream-provider-customize-link {
    font-size: 90%;
    margin-left: 0.5em;
}

.provider-disabled .stream-provider-customize-link {
    display: none;
}

.available-streams-description {
    margin-bottom: 0.5em;
}

.add-filter-message {
    margin-left: 0.7em;
}

.filter-error {
    color: #DF1B1B;
}

/* Unnecessarily takes up space at the top of the gadget, and .show() is called before used anyways (STRM-1294) */
#ag-sys-msg {
    display: none;
}

/* STRM-1827: message close icon shifts to non-existent sprite location in JIRA */
.aui-message .icon-close:hover {
    background-position: 0 0;
}
