div.chzn-container {
  font-size: 13px;
  position: relative;
}

div.chzn-container input {
  background: #fff;
  border: 1px solid #aaa;
  font-family: sans-serif;
  font-size: 1em;
  margin: 0px;
  padding: 4px 20px 4px 5px;
  outline: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
div.chzn-container textarea:focus {
  border-color: #058cf5;
  -moz-box-shadow: 0px 0px 3px #aaa;
  -webkit-box-shadow: 0px 0px 3px #aaa;
  box-shadow: 0px 0px 3px #aaa;
}


div.chzn-container div.chzn-drop {
  background: #FFF;
  border: 1px solid #aaa;
  border-width: 0 1px 1px;
  left: 0;
  position: absolute;
  top: 29px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
div.chzn-container-single div.chzn-drop {
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -khtml-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

/* SINGLE */
div.chzn-container a.chzn-single {
  background: #ffffff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -o-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
  background-image: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
  background-image: linear-gradient(top, #eeeeee 0%,#ffffff 50%);
  border: 1px solid #aaa;
  display: block;
  overflow: hidden;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  height: 25px;
  color: #444;
  line-height: 26px;
  padding: 0px 0px 0px 8px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}
div.chzn-container a.chzn-single span {
  display: block;
  margin-right: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.chzn-container a.chzn-single div {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #ccc;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
  background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  background-image: -o-linear-gradient(bottom, #ccc 0%, #eee 60%);
  background-image: -ms-linear-gradient(top, #cccccc 0%,#eeeeee 60%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #cccccc 0%,#eeeeee 60%);
  border-left: 1px solid #aaa;
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
}
div.chzn-container a.chzn-single div b {
  background: url(images/chosen-sprite.png) no-repeat 0 1px;
  display: block;
  width: 100%;
  height: 100%;
}
div.chzn-container div.chzn-search {
  padding: 3px 4px;
  margin: 0px;
  white-space: nowrap;
}
div.chzn-container div.chzn-search input {
  background: url(images/chosen-sprite.png) no-repeat 100% -20px, #ffffff;
  background: url(images/chosen-sprite.png) no-repeat 100% -20px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url(images/chosen-sprite.png) no-repeat 100% -20px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url(images/chosen-sprite.png) no-repeat 100% -20px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url(images/chosen-sprite.png) no-repeat 100% -20px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  background: url(images/chosen-sprite.png) no-repeat 100% -20px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  background: linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  margin: 1px 0;
  outline: 0;
}


/* Multi */
div.chzn-container ul.chzn-choices {
  background: #fff;
  border: 1px solid #999;
  cursor: text;
  height: auto !important;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}
div.chzn-container ul.chzn-choices:focus {
  border-color: #058cf5;
  -moz-box-shadow: 0px 0px 5px #999;
  -webkit-box-shadow: 0px 0px 5px #999;
  box-shadow: 0px 0px 5px #999;
}
div.chzn-container ul.chzn-choices li {
  float: left;
  list-style-type: none;
  margin: 0px;
}
div.chzn-container ul.chzn-choices li.search-field {
  margin: 0px;
  white-space: nowrap;
  padding: 0px;
}
div.chzn-container ul.chzn-choices li.search-field input {
  color: #666;
  background: transparent !important;
  border: 0px !important;
  padding: 4px 5px;
  margin: 1px 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
div.chzn-container ul.chzn-choices li.search-field input.default {
  color: #999;
}
div.chzn-container ul.chzn-choices li.search-choice {
  background: url(images/frother_bg_sml_edit.png) no-repeat scroll 100% 0;
  border: 0 none;
  color: #003366;
  display: block;
  float: left;
  font-family: Arial,FreeSans,Helvetica,sans-serif;
  height: 16px;
  margin: 4px 1px 1px 3px;
  overflow: visible;
  padding: 0;
  position: relative;
  width: auto !important;
}
div.chzn-container ul.chzn-choices li.search-choice span {
  background: url(images/frother_bg_sml_edit.png) no-repeat scroll 0 -16px;
  font-size: 11px;
  height: 13px;
  display: block;
  float: left;
  line-height: 13px;
  margin: 0 15px 0 0;
  padding: 2px 0 1px 6px;
  white-space: nowrap;
}
div.chzn-container ul.chzn-choices li.search-choice.search-choice-focus {
  background-position: 100% -32px;
}
div.chzn-container ul.chzn-choices li.search-choice.search-choice-focus span {
  background-position: 0 -48px;
}
div.chzn-container ul.chzn-choices li.search-choice a.search-choice-close {
  display: block;
  font-size: 1px;
  height: 13px;
  position: absolute;
  right: 1px;
  top: 2px;
  width: 13px;
}
div.chzn-container ul.chzn-choices li.search-choice a.search-choice-close:hover {
  background-position: right -9px;
}
div.chzn-container ul.chzn-choices li.search-choice.search-choice-focus a.search-choice-close {
  background-position: right -9px;
}

/* Results */
div.chzn-container ul.chzn-results {
  margin: 0 4px 4px 0;
  max-height: 190px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
div.chzn-container-multi ul.chzn-results {
  margin: -1px 0 0;
  padding: 0;
}
div.chzn-container-multi ul.chzn-results li {
  border-left: 0px !important;
  border-right: 0px !important;
}
div.chzn-container ul.chzn-results li {
  line-height: 1.1;
  padding: 7px 7px 8px;
  margin: 0;
  list-style-type: none;
}
div.chzn-container ul.chzn-results li.active-result {
  cursor: pointer;
}
div.chzn-container ul.chzn-results li em {
  font-style: normal;
  background: #FEFFDC;
}
div.chzn-container ul.chzn-results li.highlighted {
  cursor: pointer;
  background: #3c78b5;
  color: #fff;
}
div.chzn-container ul.chzn-results li.highlighted em {
  background: transparent;
}
div.chzn-container ul.chzn-results li.no-results {
  background: #F4F4F4;
}
div.chzn-container ul.chzn-results li.group-result {
  cursor: default;
  color: #999;
  font-weight: bold;
}
div.chzn-container ul.chzn-results li.group-option {
  padding-left: 20px;
}

div.chzn-container-multi div.chzn-drop li.result-selected {
  display: none;
}



/* Active */
div.chzn-container-active a.chzn-single {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #5897fb;
}
div.chzn-container-active a.chzn-single-with-drop {
  border: 1px solid #aaa;
  border-width: 1px 1px 1px;
  -moz-box-shadow: 0px 1px 0px #FFF inset;
  -webkit-box-shadow: 0px 1px 0px #FFF inset;
  box-shadow: 0px 1px 0px #FFF inset;
  background: #EEE;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee));
  background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(bottom, white 0%, #eeeeee 50%);
  background-image: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #ffffff 0%,#eeeeee 50%);
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
div.chzn-container-active a.chzn-single-with-drop div {
  background: transparent;
  border-left: none;
}
div.chzn-container-active a.chzn-single-with-drop div b {
  background-position: -18px 1px;
}
div.chzn-container-active ul.chzn-choices input {
  color: #111 !important;
}
