/*
 This is a modified copy of JIRA's wiki-renderer.css file.  It's duplicated here because in IE we can't dynamically
 load a stylesheet like we can in other browsers.  So this should only be used for IE, other browsers should use the
 stylesheet referenced in the streams feed xml
 */
#activity-stream .templateparameter { color: darkblue; font-size: 9px; }
#activity-stream table.confluenceTable { border-collapse: collapse; margin: 5px 0 5px 2px; width:auto; }
#activity-stream td.confluenceTd { border: 1px solid #ccc; padding: 3px 4px 3px 4px; }
#activity-stream th.confluenceTh { background: #f0f0f0; border: 1px solid #ccc; padding: 3px 4px 3px 4px; text-align: center; }
#activity-stream .wiki-textarea, #activity-stream .wiki-textfield, #activity-stream form.aui #activity-stream .wiki-textarea,
    #activity-stream form.aui .wiki-textfield, #activity-stream .preformatted, #activity-stream div.code {font-family: Courier, monospace;}
#activity-stream .wiki-textarea, .wiki-textfield {width:100%;}

#activity-stream div.preformattedHeader { background-color: #f0f0f0; border-bottom: 1px dashed; padding: 3px; text-align: center; }
#activity-stream div.preformattedContent { background-color: #f0f0f0; margin: 0; }
#activity-stream div.codeContent pre { line-height:1.3em; max-height:30em; overflow:auto; }
#activity-stream div.code { border: 1px dashed; font-size: 11px; line-height: 13px; margin: 10px; }
#activity-stream div.codeHeader { background-color: #f0f0f0; border-bottom: 1px dashed; padding: 3px; text-align: center; }
#activity-stream div.codeContent { background-color: #f0f0f0; overflow:auto; padding: 3px; text-align: left; }
#activity-stream .code-keyword { background-color: inherit; color: #000091; }
#activity-stream .code-object { background-color: inherit; color: #910091; }
#activity-stream .code-quote { background-color: inherit; color: #009100; }
#activity-stream .code-comment { background-color: inherit; color: #808080; }
#activity-stream .code-xml .code-keyword { color: inherit; font-weight: bold; }
#activity-stream .code-tag { background-color: inherit; color: #000091; }
#activity-stream div.panel { border: 1px dashed ; margin: 0 1em 1em 1em; }
#activity-stream div.panelHeader { background-color: #f0f0f0; border-bottom: 1px dashed ; padding: 3px; text-align: center; }
#activity-stream div.panelContent { background-color: #f0f0f0; padding: 5px; }
#activity-stream .linkerror { background-color: #fcc;}
#activity-stream ul#squaretab { font: bold 8px Verdana, sans-serif; margin-left: 0; padding-left: 0; white-space: nowrap; }