#* @vtlvariable name="issueUri" type="java.lang.String" *#
#* @vtlvariable name="issueSummary" type="java.lang.String" *#
#* @vtlvariable name="withSummary" type="boolean" *#
#* @vtlvariable name="issue" type="com.atlassian.jira.issue.Issue" *#

#if($issue.getResolutionDate())
  #set ($objectHtml = '<span class="resolved-link">' + $issue.getKey() + '</span>')
#else
  #set ($objectHtml = $issue.getKey())
#end
#if($withSummary && $issueSummary)
  <a href="$issueUri" class="issue-link">$objectHtml - $!issueSummary</a>
#else
  <a href="$issueUri" class="issue-link">$objectHtml</a>
#end
