.activityFeed h2 {
    display: inline;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
}

.activityFeed h2 .streamFilterName {
    font-weight: bold;
}

.activityFeed .feedContainer {
    padding: 0.25em;
}

.activityFeed h3.timestamp {
    border-bottom: 1px solid #CCCCCC;
    color: #808080;
    font-size: 100%;
    font-weight: normal;
    margin-bottom: 1em;
}

.activityFeed ul.activityItems {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.activityFeed ul.activityItems li.activity-item {
    color: #404040;
    line-height: 125%;
    padding: 0.6em 0.6em 0.45em 2.5em;
    min-height: 16px;
    background-repeat: no-repeat;
    background-position: 0.6em 0.6em;
    vertical-align: top;
    /*
     * MSIE ignores min-height, but interprets height as min-height.  It also accepts CSS properties with leading
     * underscores, while other browsers ignore them.  We can use this to trick MSIE into displaying correctly;
     * otherwise one-line activity items have their icons cut off at the bottom.
     * http://developer.atlassian.com/jira/browse/STRM-77
     */
    _height: 16px; /* Other style information was moved inline so that items display correctly in feed readers */
}

.activityFeed .activity-item-author {
    font-weight: bold;
    display: inline;
}

.activityFeed .activity-item-descriptions {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.activityFeed .activity-item-description {
    color: #777;
    padding: 0.25em 0.5em 0 0;
    overflow: auto;
}

.activityFeed .activity-item-description-author {
    display: inline;
}

.activityFeed .user-status-action {
    display: none;
}

.activityFeed .thumbnails {
    padding: 0.25em 0.5em 0.5em 0;
}

.activityFeed .thumbnails img {
    border: 1px solid #CCCCCC;
    margin: 0 5px 5px 0;
    padding: 0;
}

.activityFeed .thumbnails li.nopreview {
    padding-left: 0;
    margin-left: 0.25em
}

#jira-profile {
    border:1px solid #CCCCCC;
}

.activityFeed .error {
    background-color: #FFAAAA;
}

.activityFeed .warning {
    background-color: #FFFF88;
}

/* Put the padding and message in an inner div, so that the boxes will disappear when there's no message. */
.activityFeed .error .inner, .activityFeed .warning .inner {
    padding: 5px;
}

/* Hide stack traces by default.  Use ActivityFeed.toggleStackTraces() in JavaScript to show them. */
.activityFeed .error .stack-trace {
    display: none;
}

.yui-panel {
    visibility: hidden;
    border-collapse: separate;
    position: relative;
    left: 0;
    top: 0;
    font: 1em Arial;
    background-color: transparent;
    border: 0 solid #000;
    z-index: 1;
    overflow: hidden;
    opacity: 35
}

/** putting the actual url in the .vm file because I can get the path to it from there */
.yui-panel .container-close {
    position: absolute;
    top: 5px;
    right: 4px;
    z-index: 6;
    height: 16px;
    width: 16px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    visibility: inherit;
}

.yui-panel .hd {
    background-color: transparent;
    color: #FFF;
    font-size: 100%;
    line-height: 0;
    border: 0 solid #727371;
    border-bottom: 0 solid #000;
    font-weight: bold;
    padding: 0;
    white-space: nowrap;
}

.yui-panel .ft {
    background-color: transparent;
    padding: 0;
    overflow: hidden;
}

.yui-panel .bd {
    background-color: #727371;
    opacity: 35;
    padding: 1px;
}

.yui-panel .bd div {
    background-color: #727371;
    opacity: 35;
    text-align: center;
}

.yui-panel .bd div .numeric {
    text-align: right;
}

.yui-panel .bd div .label {
    color: #FFF;
    font-size: 10pt;
    padding: 2px;
}

.activityFeed .activity-item {
    position: relative;
}

.activityFeed .activity-item-comment-icon {
    float: right;
}

.activityFeed .activity-item-comment-form * {
    color: black;
}

.activityFeed .activity-item-comment-form {
    display: none;
    margin-top: auto;
    margin-bottom: 0;
}

.activityFeed .activity-item-comment-form textarea {
    width: 100%;
    resize: none;
}

.activityFeed .activity-item-comment-form button {
    display: block;
    margin-left: auto;
    margin-right: 24px;
}

.activity-item-comment-link {
    background: url(commenticon) no-repeat;
    display: block;
    white-space: nowrap;
    text-indent: 20px;
}

pre {
 overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
 white-space: pre-wrap; /* css-3 */
 white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
 white-space: -pre-wrap; /* Opera 4-6 */
 white-space: -o-pre-wrap; /* Opera 7 */
 word-wrap: break-word; /* Internet Explorer 5.5+, but this doesn't really work because of tables */
 width: 99%;
}

.activity-item-description blockquote {
    background: #eff7ff;
    border-left: 2px solid #b0c0d0;
    color: #222;
    margin: 0 0 0.7em 0.2em;
    padding: 0.3em 0.7em 0.2em 0.7em;
}